body{
    margin: 50;
    display: block;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    background-color: rgb(235, 177, 207);

}

.atas{
    display: flex;
    justify-content: center;
    background-color: rgb(220, 220, 177);
}

.gambar{
    padding: 20px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.bawah{
    display: flex;
    justify-content: center;
    background-color: rgb(220, 220, 177);
    color: black;
    padding: 20px;
    margin: 5px;
    font-size: 20px;
}
